body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.home-logo {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
}

.my-trips-title {
    position: relative;
    top: -150px;
    color: white;
}

.suitcase-img {
  position: relative;
  top: -207px;
  left: 90px;
  display: inline-block;
}

.world-map {
  width: 800px;
}

.home-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  height: 200px;
  width: 300px;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  opacity: 0.7;
}

.hover-info {
  background: white;
  padding: 5px;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
  text-align: center;
}

#cities {
  width: 400px;
  float: right;
  text-align: center;
  padding-top: 200px;
}

#cities-list {
  height: 400px;
  overflow-y: scroll;
}

.number-cities {
  font-size: 150px;
}

#container {
  border: 20px solid black;
}

#map {
  width: calc(100% - 400px);
  height: 900px;
  position: relative;
}

/* d3-brush */

.grid-background {
  fill: #ddd;
}

.extent {
  fill: rgb(255, 204, 153);
}

.grid line {
  stroke: #fff;
}

.grid .minor line {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.axis line {
  stroke: #000;
}

.axis path,
.grid path {
  display: none;
}
